;; deps.edn
{:paths ["src"]
 :deps {
        cider/cider-nrepl {:mvn/version,"0.59.0"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        nrepl/nrepl {:mvn/version,"1.7.0"}
        org.clojure/clojure {:mvn/version "1.12.5"}
        org.clojure/core.match {:mvn/version "1.1.1"}
        org.clojure/math.combinatorics {:mvn/version "0.3.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :zed-repl {:extra-deps 
                      {io.github.ryukzak/zed-nrepl
                       {:git/url "https://github.com/ryukzak/zed-nrepl.git"
                        :git/sha "e88fb5b3025e865a2c25d007b8fcd56d7086b1a9"}}
                      :main-opts ["-m" "zed-nrepl.core"]}}}
